@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow-x: hidden;
}

:focus {
  outline: 0;
}

::selection {
  background: #e63d4f;
  color: #fff;
}

.boldText{
  font-weight: 700;
}

.dockerSource{
  font-size: 14px;
margin-left: 25px;}

#overlay {
  display: none;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#overlay.active {
  display: block;
}

.links.active {
  background-color: #e63d4f;
  display: inline-block;
  border-radius: 10px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

.sec-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.sec-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.2;
}

.button {
  width: 150px;
  padding: 15px 20px;
  margin: 30px 0 0 0;
  font-size: 14px;
  color: #fff;
  background-color: #e63d4f;
  text-align: left;
  border: #e63d4f;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

/* .button:hover{
  color: white;
  background-color: #27ae60;
} */

.big-button {
  display: inline-block;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #e63d4f;
  border-color: #e63d4f;
}

.big-button:hover,
.button:hover {
  color: #fff;
  background-color: #ff6b81;
  border-color: #ff6b81;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1199;
  border: none;
  outline: none;
  background-color: #e63d4f;
  color: white;
  cursor: pointer;
  padding: 13px;
  border-radius: 10px;
  font-size: 18px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#myBtn:hover {
  background-color: #ff6b81; /* Add a dark-grey background on hover */
}

.go-to-top-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: none;
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

nav .containers {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1320px;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px 0 40px;
}

nav .containers .navbar-logo {
  max-height: 100%;
  font-size: 1.5em;
  transition: font-size 0.3s ease-in-out;
  color: #ffc800;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

nav .containers .navbar-logo img {
  height: 50px;
  transition: height 0.3s ease-in-out;
}

nav .containers .link-content {
}

nav .containers .link-content ul {
  display: flex;
  margin-bottom: 0;
}

nav .containers .link-content ul li {
  padding: 5px;
  margin-right: 0.8rem;
  list-style: none;
}

nav .containers .link-content ul li a {
  text-decoration: none;
  font-size: 0.95rem;
  letter-spacing: 0.0625em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
}

nav .containers .socials {
  display: flex;
}

nav .containers .socials ul {
  display: flex;
  margin: 0;
}

nav .containers .socials ul li {
  padding: 15px 20px;
  font-size: 25px;
  list-style: none;
}

nav .containers .socials ul li a {
  color: white;
}

.masthead {
  position: relative;
  height: 100vh;
  width: 100%;
}

#mastheadBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  height: 100vh;
  width: 100%;
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  text-align: center;
  color: #fff;
  background-image: url(../assets/img/web_2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  filter: blur(4px);
}

.masthead .mastheadPhoto {
  width: 300px;

  padding: 10px;
  background-color: white;
  position: absolute;
  bottom: 3%;
  left: 100px;
}

.masthead .mastheadPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masthead .mastheadInfo {
  width: 450px;
  padding: 10px;
  /* background-color: white; */
  position: absolute;
  bottom: 3%;
  left: 410px;
  background-color: rgba(0, 0, 0, 0.4);
}

.masthead .mastheadInfo .bigName {
  font-size: 50px;
  color: antiquewhite;
}

.masthead .mastheadInfo .desc {
  color: lightslategray;
  text-align: center;
}

.masthead .mastheadInfo .title {
  color: lightslategray;
}

.masthead .mastheadInfo .info {
  color: antiquewhite;
}

.masthead .masthead-subheading {
  font-family: "Roboto Slab", serif;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.masthead .masthead-heading {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
}

.second-section {
  padding: 6rem 0;
}

.second-section .containers {
  max-width: 1320px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.second-section .containers .text-content {
}

.sec-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.sec-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.2;
}

.second-section .containers .item-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.second-section .containers .item-content .card {
  width: calc(69% - 24px);
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.second-section .containers .item-content .card .icon {
  margin: 5px 0;
  height: 124px;
  width: 124px;
  color: #fff;
  font-size: 64px;
  line-height: 124px;
  background-color: #e63d4f;
  text-align: center;
  border-radius: 50%;
}

.second-section .containers .item-content .card .icon-title {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.5rem;
}

.second-section .containers .item-content .card .icon-text {
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.75;
  margin-bottom: 1rem;
  padding: 10px 135px;
}

.second-section .containers .jobContainer {
  margin-top: 80px;
}

.second-section .containers .jobContainer .item-content .jobCard {
  width: calc(69% - 24px);
  margin: 0 auto;
  /* padding: 15px 0; */
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.second-section .containers .jobContainer .item-content .jobCard .jobLeft {
  width: 30%;
  height: 100%;
  background-color: aliceblue;
  padding: 25px;
  padding-left: 50px;
  text-align: left;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobLeft
  .title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobLeft
  .info {
  font-size: 14px;
  margin-bottom: 5px;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobLeft
  .status {
  font-size: 14px;
  font-weight: 500;
}

.second-section .containers .jobContainer .item-content .jobCard .jobRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  padding: 25px;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobRight
  .title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobRight
  .subtitle {
  font-size: 17px;
  font-weight: 500;
  color: darkgray;
}

.second-section
  .containers
  .jobContainer
  .item-content
  .jobCard
  .jobRight
  .info {
  text-align: left;
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.75;
}

.experience-section {
  padding: 96px 0;
  background-color: #f8f9fa;
}

.experience-section .containers {
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-list {
  margin: 50px 0;
}

.exp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: auto;
  overflow: hidden;
}

.exp-item {
  /* margin-bottom: 30px; */
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-item img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-hover-div {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(230, 61, 79, 0.8);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-item:hover .exp-hover-div {
  display: flex;
}

.exp-hover-div svg {
  width: 75px;
  height: 75px;
}

.experience-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.experience-caption-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.experience-caption-subheading {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-style: italic;
  color: #6c757d;
  font-weight: 400;
  margin-top: 0.5rem;
}

.experience-modal {
  width: 97%;
  height: 94%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 3rem 20rem;
  position: fixed;
  z-index: 2050;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  left: 1.5%;
  top: 3%;
  transition: all 0.3s ease-in-out;
  background-color: #f8f9fa;
}

.experience-modal.active {
  display: flex;
}

.experience-modal .experience-text-content {
  margin-bottom: 40px;
}

.experience-modal .experience-text-content .experience-modal-heading {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.experience-modal .experience-text-content .experience-modal-subheading {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.75;
  margin: 0.7rem 0 0 0;
}

.experience-modal .experience-modal-img {
  height: 450px;
  width: 600px;
  margin-bottom: 40px;
  overflow: hidden;
}

.experience-modal .experience-modal-img img {
  height: 100%;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.experience-modal .experience-modal-caption {
  /* padding: 1rem 10rem; */
  padding: 1% 5%;
}

.experience-modal .experience-modal-caption p {
  font-family: "Roboto Slab", serif;
  line-height: 1.75;
}

.experience-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.experience-modal-close:hover {
  opacity: 0.3;
}

.experience-modal-close img {
  margin-bottom: 2rem;
  vertical-align: middle;
}

.third-section {
  padding: 96px 0;
}

.third-section .containers {
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.third-section .containers .item-content {
  margin: 60px 12px 0 12px;
  display: flex;
  flex-wrap: wrap;
}

.third-section .containers .item-content .thirdCards {
}

.third-section .containers .item-content .thirdCards .textCard {
  width: calc(69% - 24px);
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.third-section .containers .item-content .thirdCards .textCard .desc {
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.75;
  margin-bottom: 1rem;
  padding: 10px 135px;
}

.third-section .containers .item-content .thirdCards .infoCard {
  width: calc(69% - 24px);
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 50px 0 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.third-section .containers .item-content .thirdCards .infoCard .thirdTitle {
font-family: "Roboto Slab", serif;
    font-size: 1rem;
    font-style: italic;
    color: #000;
    font-weight: 700;
    /* margin-top: 0.5rem; */}

.third-section .containers .item-content .thirdCards .infoCard .thirdItem {
display: flex;justify-content: space-around;margin-top: 25px;}

.third-section .containers .item-content .thirdCards .infoCard .thirdItem img {
width: 46%;object-fit: cover;border: 7px solid #e9ecef;
    border-radius: 10px;}

.fourth-section {
  padding: 96px 0;
  background-color: #f8f9fa;
}

.fourth-section .containers {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fourth-section .containers .dockerContent{
margin-top: 50px;
margin-bottom: 150px;position: relative;
}

.fourth-section .containers .dockerContent .dockerNextTitle{
  position: absolute;
  bottom: -100px;
  left: 40%;
margin-bottom: 5px;
    font-weight: 700;
    font-size: 22px;}

.fourth-section .containers .dockerContent .dockerCard{
  width: calc(69% - 24px);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.fourth-section .containers .dockerContent .dockerCard .dockerCardImg{
  width: 80%;
  
margin: 40px 0;}

.fourth-section .containers .dockerContent .dockerCard .dockerTitle{
  margin-bottom: 5px;
    font-weight: 700;
    font-size: 17px;
}

.fourth-section .containers .dockerContent .dockerCard .dockerDesc{
  font-family: "Roboto Slab", serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.75;
  margin-bottom: 1rem;
  padding: 10px 135px;
}

.dockerLastCard{
  width: calc(98% - 24px);
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.dockerLastCard .dockerLastTitle{

/* margin: 30px 0; */
    font-weight: 700;
    font-size: 22px;}

.dockerLastCard .dockerLastContent{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 20px;}

.dockerLastCard .dockerLastContent .dockerLastItem{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 24%;
  height: 370px;padding: 15px;
text-align: left;}

.dockerLastCard .dockerLastContent .dockerLastItem .dockerLastImg{
  margin-bottom: 25px;
}

.dockerLastCard .dockerLastContent .dockerLastItem .dockerLastSubtitle{
  margin-bottom: 25px;

    font-weight: 700;
    font-size: 16px;}

.dockerLastCard .dockerLastContent .dockerLastItem .dockerLastText{

padding: 0 14px;}

.fourth-section .containers .timeline {
  position: relative;
  padding: 0;
  list-style: none;
  margin-top: 64px;
  margin-bottom: 1rem;
}

.fourth-section .containers .timeline::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.fourth-section .containers .timeline > li {
  min-height: 300px;
  position: relative;
  margin-bottom: 75px;
}

.fourth-section .containers .timeline > li::before {
  display: table;
  content: " ";
}

.fourth-section .containers .timeline > li .timeline-image {
  width: 200px;
  height: auto;
  margin-left: -85px;
  left: 40%;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 10px;
  /* background-color: #ffc800; */
}

.inverted-photo {
  left: 58% !important;
}

.fourth-section .containers .timeline > li .timeline-image img {
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.fourth-section .containers .timeline > li .timeline-panel {
  padding: 0 120px 20px 20px;
  float: left;
  width: 55%;
  text-align: left;
  position: relative;
}

.fourth-section .containers .timeline > li .timeline-panel .timeline-heading {
  margin-top: 0;
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.fourth-section .containers .timeline > li .timeline-panel .timeline-body {
}

.fourth-section .containers .timeline > li .timeline-panel .timeline-body p {
  color: #6c757d !important;
  line-height: 1.75;
}

/* TİME LİNE RİGHT SİDE */

.fourth-section .containers .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.fourth-section
  .containers
  .timeline
  > li.timeline-inverted
  > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.fourth-section
  .containers
  .timeline
  > li.timeline-inverted
  > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.fourth-section .containers .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.fourth-section .containers .timeline > li.timeline-inverted > .timeline-panel {
  padding: 0 20px 20px;
}

.fourth-section .containers .timeline > li.timeline-inverted > .timeline-panel {
  padding: 0 20px 20px 125px;
}



footer {
  padding: 48px 0;
  /* background-color: #F8F9FA; */
}

footer .containers {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer .foot-heading {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

footer .foot-text {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
  color: #6c757d;
  line-height: 1.75;
  text-decoration: none;
}

footer .containers .foot-card {
  width: calc(33.33333% - 24px);
  margin: 0 12px;
}

.foot-social .social-media {
  display: flex;
  margin-top: 0;
}

.foot-social .social-media a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #e63d4f;
  border-radius: 10px;
  color: #e63d4f;
  margin: 5px;
  transition: 0.3s ease-in-out;
}

.foot-social .social-media a:nth-child(1):hover {
  color: white;
  background-color: #e4405f;
  border-color: #e4405f;
}

.foot-social .social-media a:nth-child(2):hover {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}

.foot-about-text {
  margin-right: 100px;
}

.foot-hours,
.foot-social {
  margin-top: 20px;
}

.footer-bottom {
  padding: 9px 0;
  background-color: #f8f9fa;
}

.footer-bottom .containers {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: #6c757d;
  line-height: 1.75;
  text-decoration: none;
}

.footer-bottom .containers .copyright {
  margin: 0;
}

.footer-bottom .containers a {
  margin: 0 5px;
  color: rgba(230, 61, 79, 0.7);
  font-weight: 700;
  font-size: 16px;
}

#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
}
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
  height: 1.5rem;
}
.margin-bottom {
  margin-bottom: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255, 255, 255, 60%);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-icon {
  display: none;
  /* margin-right: 12px; */
  position: fixed;
  top: 25px;
  right: 35px;
  z-index: 2001;
}

#mobil-menu {
  width: 100%;
  height: 101vh;
  display: none;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  /* bottom: 0; */
  left: 0;
  background-color: #e4405f;
  overflow: scroll;
  padding: 100px 0;
}

#mobil-menu .left {
  width: 50%;
}

#mobile-menu .left ul {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* mobile safari*/
  list-style: none;
}

#mobile-menu .left ul li {
  border-bottom: 1px solid lightgrey;
}

#mobile-menu .left ul li a {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 10px 50px;
}

#mobil-menu .right .social-media {
  /* margin-top: 50px; */
  width: calc(100% - 24px);
  margin: 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li.mobil-links {
  /* width: 100%; */
  /* display: inline-block; */
  text-align: center;
  /* padding: 10px 0; */
}

li.mobil-links a {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  padding: 15px 2px;
  color: #fff;
  font-weight: 700;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

#mobil-menu .right p {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

#mobil-menu .right .social-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobil-menu .right .social-item a {
  color: #fff;
  font-size: 40px;
  padding: 10px 30px;
}

.db-flex {
  display: flex !important;
}

#MobileMenuDivWrapper {
  height: 200px;
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* mobile safari*/
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}
